@import "../variables";
@import "../mixins";

/*!
 * https://github.com/YouCanBookMe/react-datetime
			background-color: map-get($value, 'background-color');
			border-color: map-get($value, 'border-color');
			color: map-get($value, 'color');
 */

@each $key, $value in $default-palette {
  [data-background="#{$key}"] {
    .rdt {
      position: relative;
      width: 100%;
      input {
          width: 100%;
      }
    }
    .rdtPicker {
      display: none;
      position: absolute;
      width: 250px;
      padding: 4px;
      margin-top: 1px;
      z-index: 99999 !important;
      background-color: map-get($value, "background-color");
      color: map-get($value, "color");
      border: 1px solid map-get($value, "border-color");
    }
    .rdtOpen .rdtPicker {
      display: block;
    }
    .rdtStatic .rdtPicker {
      box-shadow: none;
      position: static;
    }

    .rdtPicker .rdtTimeToggle {
      text-align: center;
    }

    .rdtPicker table {
      width: 100%;
      margin: 0;
    }
    .rdtPicker td,
    .rdtPicker th {
      text-align: center;
      height: 28px;
    }
    .rdtPicker td {
      cursor: pointer;
    }
    .rdtPicker td.rdtDay:hover,
    .rdtPicker td.rdtHour:hover,
    .rdtPicker td.rdtMinute:hover,
    .rdtPicker td.rdtSecond:hover,
    .rdtPicker .rdtTimeToggle:hover {
      background-color: map-get($value, "hover-color");
      cursor: pointer;
    }
    .rdtPicker td.rdtOld,
    .rdtPicker td.rdtNew {
      color: map-get($value, "color");
    }
    .rdtPicker td.rdtToday {
      position: relative;
    }
    .rdtPicker td.rdtToday:before {
      content: "";
      display: inline-block;
      border-left: 7px solid transparent;
      border-bottom: 7px solid map-get($value, "border-color");
      border-top-color: map-get($value, "border-color");
      position: absolute;
      bottom: 4px;
      right: 4px;
    }
    .rdtPicker td.rdtActive,
    .rdtPicker td.rdtActive:hover {
      background-color: map-get($value, "highlight-color");
      color: #fff;
    }
    .rdtPicker td.rdtActive.rdtToday:before {
      border-bottom-color: map-get($value, "border-color");
    }
    .rdtPicker td.rdtDisabled,
    .rdtPicker td.rdtDisabled:hover {
      background: none;
      color: map-get($value, "odd-color");
      cursor: not-allowed;
    }

    .rdtPicker td span.rdtOld {
      color: map-get($value, "color");
    }
    .rdtPicker td span.rdtDisabled,
    .rdtPicker td span.rdtDisabled:hover {
      background: none;
      color: map-get($value, "color");
      cursor: not-allowed;
    }
    .rdtPicker th {
      border-bottom: 1px solid map-get($value, "border-color");
    }
    .rdtPicker .dow {
      width: 14.2857%;
      border-bottom: none;
    }
    .rdtPicker th.rdtSwitch {
      width: 100px;
    }
    .rdtPicker th.rdtNext,
    .rdtPicker th.rdtPrev {
      font-size: 21px;
      vertical-align: top;
    }

    .rdtPrev span,
    .rdtNext span {
      display: block;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
      -khtml-user-select: none; /* Konqueror */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
    }

    .rdtPicker th.rdtDisabled,
    .rdtPicker th.rdtDisabled:hover {
      background: none;
      color: map-get($value, "color");
      cursor: not-allowed;
    }
    .rdtPicker thead tr:first-child th {
      cursor: pointer;
    }
    .rdtPicker thead tr:first-child th:hover {
      background: map-get($value, "background-color");
    }

    .rdtPicker tfoot {
      border-top: 1px solid map-get($value, "border-color");
    }

    .rdtPicker button {
      border: none;
      background: none;
      cursor: pointer;
    }
    .rdtPicker button:hover {
      background-color: map-get($value, "background-color");
    }

    .rdtPicker thead button {
      width: 100%;
      height: 100%;
    }

    td.rdtMonth,
    td.rdtYear {
      height: 50px;
      width: 25%;
      cursor: pointer;
    }
    td.rdtMonth:hover,
    td.rdtYear:hover {
      background: map-get($value, "background-color");
    }

    .rdtCounters {
      display: inline-block;
    }

    .rdtCounters > div {
      float: left;
    }

    .rdtCounter {
      height: 100px;
    }

    .rdtCounter {
      width: 40px;
    }

    .rdtCounterSeparator {
      line-height: 100px;
    }

    .rdtCounter .rdtBtn {
      height: 40%;
      line-height: 40px;
      cursor: pointer;
      display: block;

      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
      -khtml-user-select: none; /* Konqueror */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
    }
    .rdtCounter .rdtBtn:hover {
      background: map-get($value, "background-color");
    }
    .rdtCounter .rdtCount {
      height: 20%;
      font-size: 1.2em;
    }

    .rdtMilli {
      vertical-align: middle;
      padding-left: 8px;
      width: 48px;
    }

    .rdtMilli input {
      width: 100%;
      font-size: 1.2em;
      margin-top: 37px;
    }
  }
}
