@import '../variables';
@import '../mixins';
@import '../palettes/navbar';

.navbar {
  .logo {
    height: $navbar-height;
    border-radius: 0px 15px 0px 0px;
    i {
      @include font-size(28px);
      margin-right: 15px;
      margin-left: 5px;
    }
    .title {
      text-transform: uppercase;
      @include font-size(18px);
      font-weight: normal;
    }
  }
}

@each $key, $value in $navbar-palettes {
  [data-logo='#{$key}'] {
    .navbar {
      .logo {
        background: map-get($value, 'background-color');
        color: map-get($value, 'color');
      }
    }
  }
}
