.lh-2-1-rem {
  line-height: 2.1rem;
}

.adp-directions {
  width: 100%;
}

.pac-container {
  z-index: 1051 !important;
}

.gmnoprint {
  z-index: 999 !important;
}

.section-title {
  display: none !important;
}

.very-transparent {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.semi-transparent {
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.full-transparent {
  background-color: rgba(255, 255, 255, 0) !important;
}

.login-card {
  border-radius: 0px;
  border: 0;
}

.cf-height-calc {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.containerFlex {
  min-height: calc(100% + 90px);
  display: flex;
  flex-direction: column;
}

.mainContent {
  // min-width: 100vw;
  flex: 1 0 auto;
}

.mainContentChild {
  flex: 1 0 auto;
}

.div-center {
  margin: 0 auto;
}

.cyder-form {
  background-color: rgba(240, 240, 240, 0.95);
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  // box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.text-inception {
  letter-spacing: 0.75rem;
}

.text-inception-less {
  letter-spacing: 0.55rem;
}

.footer {
  /* for some reason this will cause problems when zoomed in a lot */
  /* margin-top: 15px; */
  padding-top: 0px !important;
  flex: none;
  flex-shrink: 0;
  width: 100%;
  height: 30px;
  /* Vertically center the text there */
  background-color: transparent;
}

.mandatory {
  span {
    color: red;
    font-weight: bold;
  }
}

.text-align-center {
  text-align: center;
}

.dropzone {
  width: 100%;
  min-height: 100px;
  border: 3px dashed lightgray;
  border-radius: 1rem;
  color: lightgray;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;

  .dropzone-content {
    padding: 2rem;

    i {
      font-size: 5rem;
      padding: 20px;
      color: lightgray;
    }
  }
}

.preview-image {
  maxwidth: 100%;
  width: 100%;
  maxheight: 450px;
  objectfit: contain;
}

.react-viewer-toolbar li {
  line-height: 30px;
}

.text-danger {
  color: red !important;
}

.nav {
  .nav-item {
    .btn {
      i {
        &:hover {
          color: tomato;
          // color: yellowgreen;
        }

        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        font-size: 1.5rem;
      }
    }
  }
}

.btn,
.badge {
  font-weight: 600 !important;
  text-transform: capitalize;

  i {
    font-weight: 600 !important;
    margin-bottom: 2px;
    margin-right: 5px;
  }
}

.clock-indicator-wrapper {
  transition: all 0.2s ease;

  .clock-indicator {
    border-radius: 10px;
    // min-height: 230px;
    margin: 5px 0;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
    top: 0px;
    transition: 0.3s;

    .badge {
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
    }

    .clock-indicator-status {
      justify-content: flex-end;

      .btn {
        i {
          font-size: 1.2em;
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
        }
      }
    }
  }

  // .clock-indicator:hover {
  //   top: -13px;
  // }
}

.leavetask-detail {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
}

.cardwrapper {
  transition: all 0.2s ease;

  .cardwidget {
    overflow: hidden;
    height: 150px;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 10px 3px rgba(0, 0, 0, 0.1);
    transition: 0.3s;

    .cardwidget-body {
      .cardwidget-info {
        color: white !important;
      }

      .cardwidget-icon {
        i {
          font-size: 130px;
          position: absolute;
          top: 14%;
          left: 55%;
          color: white !important;
          opacity: 0.3;
        }
      }
    }
  }
}

.cardwidget:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

.pagination-bottom {
  margin: 20px 0px 20px 0px;
}

.ReactTable {
  rt-thead,
  .rt-th.cursor-pointer {
    font-size: 1.05rem;
  }

  .rt-noData {
    background: transparent !important;
    top: 60px !important;
  }
}

.rt-td,
div.rt-th {
  white-space: unset !important;
}

.page-item {
  margin: 0px 10px;

  .page-link {
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: unset;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }

  &.active {
    .page-link {
      background-color: #212121;
      border-radius: 5px;
    }
  }
}

.card {
  border: 0;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.calendarWrapper {
  div {
    animation: fadeIn 0.4s forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pwa {
  width: 100%;
}

.ph0 {
  padding-left: 0px;
  padding-right: 0px;
}

.pt15 {
  padding-top: 15px;
}

.pt10 {
  padding-top: 10px;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mr10 {
  margin-right: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.d-flex-wrap {
  flex-wrap: wrap;
}

.w-100 {
  width: 100px;
}

.w-100p {
  width: 100%;
}

.w-50p {
  width: 50%;
}

.h-100 {
  height: 100px;
}

.mt10 {
  margin-top: 10px;
}

.fontH7 {
  font-size: 12px;
}

.mr0 {
  margin-right: 0px;
}

.wideContainer {
  padding-right: 0px;
  padding-left: 0px;
  max-width: 100%;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font25 {
  font-size: 25px;
}

.pb10 {
  padding-bottom: 10px;
}

.boxShadow {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 10px;
}

.nowrap {
  white-space: nowrap;
}

.mycorp-main {
  padding-top: 0px;
  // margin-left: 5px;
  // margin-right: 5px;
  // padding-left: 5px;
  // padding-right: 5px;
  padding-bottom: 0px;
  width: 100%;

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.mycorp-navbar {
  min-height: 0;
  height: 40px;
  width: 100%;
  border: none;
}

.mycorp-bottomnav {
  padding: 0rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  background-clip: padding-box;
  white-space: nowrap;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.mycorp-bottomnav-unselected {
  color: #616161;
}

.mycorp-bottomnav-selected {
  color: #407692;
  font-size: 16px !important;
  font-weight: bold;
}

.mycorp-text-underlined {
  text-decoration: underline;
  text-underline-position: under;
}

.mycorp-buttomnav-icon {
  font-size: 20px !important;
}

.mycorp-buttomnav-text {
  font-size: 14px;
}

.mycorp-bottomnav-link {
  text-align: center;
}

.mycorp-bottomnav {
  justify-content: space-around;
  width: inherit;
  padding: 0;
}

.mycorp-add-bottom {
  position: fixed;
  z-index: 1200;
  bottom: 70px;
  width: 50%;
  right: 30px;
}

.mycorp-list {
  margin-bottom: 80px;
}

.mycorp-add-button-circle {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.mycorp-add-button-circle-disabled {
  background: #676767 !important;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.mycorp-big-icon {
  font-size: 30px;
  margin-left: 2px;
}

.mycorp-col-big-icon {
  text-align: center;
}

.mycorp-big-icon-panel {
  background: #deebf1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mycorp-col-big-text {
  font-size: 12px;
  color: #676767;
  margin-top: 5px;
}

.mycorp-hr {
  margin-top: 0px;
  margin-bottom: 20px;
}

.mycorp-hr-thin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mycorp-hr-small {
  margin-top: 0px;
  margin-bottom: 5px;
}

.mycorp-p-slim {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.mycorp-form-group-label {
  margin-bottom: 0px;
}

.mycorp-toggle-panel-button-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  // margin-left: -10px;
  // margin-right: -10px;
}

.mycorp-toggle-panel-button-item {
  overflow: hidden;
  flex-grow: 1;
  // padding-left: 18px;
  text-align: center;
  // padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  border-radius: 4px;
  color: #263238;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mycorp-toggle-panel-button-item-selected {
  border-bottom: 5px solid #639dbb;
}

.mycorp-toggle-panel-button-label {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.05px;
  padding: 5px 0px;
  display: block;
  margin-left: 10px;
  box-shadow: unset;
  font-size: 12px;
}

.mycorp-toggle-panel-button-label-selected {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.05px;
  padding: 5px 0px;
  color: #639dbb;
  display: block;
  font-size: 12px;
}
