@import 'variables';
@import 'mixins';
@import 'bootstrap/bootstrap';
@import 'helpers';
@import 'palettes/background';
@import 'layouts/default-sidebar-1';
@import 'layouts/collapsed-sidebar-1';
@import 'layouts/top-navigation-1';
@import 'layouts/empty-view-1';
@import 'layouts/empty-view-2';
@import 'layouts/home';

body,
html,
body {
  font-family: $font-family;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  max-width: 1396px;
  margin: 0 auto !important;
  float: none !important;
  //   @include font-size(14px);
}

@each $key, $value in $background-palettes {
  html,
  body,
  #root {
    background-color: map-get($value, 'background-color');
    color: map-get($value, 'color');
  }
}

@each $key, $value in $default-palette {
  [data-navbar='#{$key}'],
  [data-sidebar='#{$key}'],
  [data-background='#{$key}'] {
    a,
    .btn {
      color: map-get($value, 'color');
    }
  }
}

input,
select {
  font-family: $font-family;
}

//@include selection {
//  background-color: map-get($bootstrap-colors, "warning");
//}
.hidden {
  display: none;
}

//hide pseudo elements
.no-before {
  &:before {
    display: none !important;
  }
}

.no-after {
  &:after {
    display: none !important;
  }
}

.loading {
  .pace {
    display: none;
  }
}

.separator {
  flex: 1;
}

//backdrops
.left-sidebar-backdrop {
  @include backdrop($zindex-navbar-fixed + 5);
}

.right-sidebar-backdrop {
  @include backdrop($zindex-navbar-fixed + 4);
}

.no-bg,
.bg-transparent {
  background-color: transparent !important;
}

$colors: map-merge(map-merge(map-merge($colors, $bootstrap-colors), $social-media-colors), $background-colors);

@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value !important;
  }

  .bg-unimportant-#{$key} {
    background-color: $value;
  }

  .bg-hover-#{$key} {
    &:hover,
    &:active,
    &:focus {
      background-color: $value !important;
    }
  }

  .color-#{$key} {
    color: $value !important;
  }

  .color-hover-#{$key} {
    &:hover,
    &:active,
    &:focus {
      color: $value !important;
    }
  }

  .border-color-#{$key} {
    color: $value !important;
  }

  .border-color-hover-#{$key} {
    &:hover,
    &:active,
    &:focus {
      color: $value !important;
    }
  }
}
