.ReactTable {
  border: none;
  .rt-thead {
    &.-header {
      -webkit-box-shadow: none;
      border-bottom: 2px solid #eeeeee;
      box-shadow: none;
      font-weight: bold;
    }
    .rt-tr {
      text-align: left;
    }
    .rt-th, .rt-td {
      border-right: none;
    }
  }
  .rt-tbody .rt-td {
    border-right: none;
  }
  .rt-thead {
    .rt-th.-sort-desc.rt-no-sort-ind, .rt-td.-sort-desc.rt-no-sort-ind, .rt-th.-sort-asc.rt-no-sort-ind, .rt-td.-sort-asc.rt-no-sort-ind {
      webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

