.form-inline .form-group {
    margin-right: 10px;
}
.form-inline .form-group label {
    margin-right: 10px;
}
[data-background='light'] .form-control:enabled {
    background-color: #fff;
    color: #212121;
    border-width: 1px;
    border-color: #e0e0e0;
}
[data-background='light'] .form-control:disabled {
    color: #212121;
    border-width: 1px;
    border-color: #e0e0e0;
}
[data-background='light'] .form-control:focus {
    border-color: #e0e0e0;
}
[data-background='light'] .custom-control-indicator {
    background-color: #ebebeb;
}
[data-background='light'] .has-success .custom-control-input:checked ~ .custom-control-indicator {
    color: #639dbb;
    background-color: #639dbb;
    box-shadow: none;
}
[data-background='light'] .has-success .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}
[data-background='light'] .has-success .custom-control-input:active ~ .custom-control-indicator {
    color: #639dbb;
    background-color: #639dbb;
    box-shadow: none;
}
[data-background='light'] .has-success .custom-control-indicator {
    background-color: #ebebeb;
}
[data-background='light'] .has-danger .custom-control-input:checked ~ .custom-control-indicator {
    color: #d32f2f;
    background-color: #d32f2f;
    box-shadow: none;
}
[data-background='light'] .has-danger .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}
[data-background='light'] .has-danger .custom-control-input:active ~ .custom-control-indicator {
    color: #d32f2f;
    background-color: #d32f2f;
    box-shadow: none;
}
[data-background='light'] .has-danger .custom-control-indicator {
    background-color: #ebebeb;
}
[data-background='light'] .has-warning .custom-control-input:checked ~ .custom-control-indicator {
    color: #ffa000;
    background-color: #ffa000;
    box-shadow: none;
}
[data-background='light'] .has-warning .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}
[data-background='light'] .has-warning .custom-control-input:active ~ .custom-control-indicator {
    color: #ffa000;
    background-color: #ffa000;
    box-shadow: none;
}
[data-background='light'] .has-warning .custom-control-indicator {
    background-color: #ebebeb;
}
[data-background='light'] .custom-control-input:checked ~ .custom-control-indicator {
    color: #d32f2f;
    background-color: #d32f2f;
    box-shadow: none;
}
[data-background='light'] .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}
[data-background='light'] .custom-control-input:active ~ .custom-control-indicator {
    color: #d32f2f;
    background-color: #d32f2f;
    box-shadow: none;
}
[data-background='light'] .custom-file .custom-file-control {
    color: #212121;
    border-color: #e0e0e0;
    background-color: #fff;
}
[data-background='light'] .custom-file .custom-file-control:before {
    color: #fff;
    border-color: #639dbb;
    background-color: #639dbb;
}
[data-background='light'] .custom-file .custom-file-control:after {
    color: #212121;
    border-color: #e0e0e0;
    background-color: #fff;
}
[data-background='light'] .custom-select {
    color: #212121;
    border-color: #e0e0e0;
    background: #fff
        url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#212121' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
        no-repeat right 0.75rem center;
    background-size: 8px 10px;
}
[data-background='dark'] .form-control:enabled {
    background-color: #212121;
    color: #fff;
    border-width: 1px;
    border-color: #404040;
}
[data-background='dark'] .form-control:disabled {
    color: #fff;
    border-width: 1px;
    border-color: #404040;
}
[data-background='dark'] .form-control:focus {
    border-color: #404040;
}
[data-background='dark'] .custom-control-indicator {
    background-color: #0d0d0d;
}
[data-background='dark'] .has-success .custom-control-input:checked ~ .custom-control-indicator {
    color: #639dbb;
    background-color: #639dbb;
    box-shadow: none;
}
[data-background='dark'] .has-success .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}
[data-background='dark'] .has-success .custom-control-input:active ~ .custom-control-indicator {
    color: #639dbb;
    background-color: #639dbb;
    box-shadow: none;
}
[data-background='dark'] .has-success .custom-control-indicator {
    background-color: #0d0d0d;
}
[data-background='dark'] .has-danger .custom-control-input:checked ~ .custom-control-indicator {
    color: #d32f2f;
    background-color: #d32f2f;
    box-shadow: none;
}
[data-background='dark'] .has-danger .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}
[data-background='dark'] .has-danger .custom-control-input:active ~ .custom-control-indicator {
    color: #d32f2f;
    background-color: #d32f2f;
    box-shadow: none;
}
[data-background='dark'] .has-danger .custom-control-indicator {
    background-color: #0d0d0d;
}
[data-background='dark'] .has-warning .custom-control-input:checked ~ .custom-control-indicator {
    color: #ffa000;
    background-color: #ffa000;
    box-shadow: none;
}
[data-background='dark'] .has-warning .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}
[data-background='dark'] .has-warning .custom-control-input:active ~ .custom-control-indicator {
    color: #ffa000;
    background-color: #ffa000;
    box-shadow: none;
}
[data-background='dark'] .has-warning .custom-control-indicator {
    background-color: #0d0d0d;
}
[data-background='dark'] .custom-control-input:checked ~ .custom-control-indicator {
    color: #ffa000;
    background-color: #ffa000;
    box-shadow: none;
}
[data-background='dark'] .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}
[data-background='dark'] .custom-control-input:active ~ .custom-control-indicator {
    color: #ffa000;
    background-color: #ffa000;
    box-shadow: none;
}
[data-background='dark'] .custom-file .custom-file-control {
    color: #fff;
    border-color: #404040;
    background-color: #212121;
}
[data-background='dark'] .custom-file .custom-file-control:before {
    color: #fff;
    border-color: #639dbb;
    background-color: #639dbb;
}
[data-background='dark'] .custom-file .custom-file-control:after {
    color: #fff;
    border-color: #404040;
    background-color: #212121;
}
[data-background='dark'] .custom-select {
    color: #fff;
    border-color: #404040;
    background: #353535
        url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
        no-repeat right 0.75rem center;
    background-size: 8px 10px;
}
[data-background='primary'] .form-control:enabled {
    background-color: #639dbb;
    color: #fff;
    border-width: 1px;
    border-color: #8eb8ce;
}
[data-background='primary'] .form-control:disabled {
    color: #fff;
    border-width: 1px;
    border-color: #8eb8ce;
}
[data-background='primary'] .form-control:focus {
    border-color: #8eb8ce;
}
[data-background='primary'] .custom-control-indicator {
    background-color: #4a8aab;
}
[data-background='primary'] .has-success .custom-control-input:checked ~ .custom-control-indicator {
    color: #639dbb;
    background-color: #639dbb;
    box-shadow: none;
}
[data-background='primary'] .has-success .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}
[data-background='primary'] .has-success .custom-control-input:active ~ .custom-control-indicator {
    color: #639dbb;
    background-color: #639dbb;
    box-shadow: none;
}
[data-background='primary'] .has-success .custom-control-indicator {
    background-color: #4a8aab;
}
[data-background='primary'] .has-danger .custom-control-input:checked ~ .custom-control-indicator {
    color: #d32f2f;
    background-color: #d32f2f;
    box-shadow: none;
}
[data-background='primary'] .has-danger .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}
[data-background='primary'] .has-danger .custom-control-input:active ~ .custom-control-indicator {
    color: #d32f2f;
    background-color: #d32f2f;
    box-shadow: none;
}
[data-background='primary'] .has-danger .custom-control-indicator {
    background-color: #4a8aab;
}
[data-background='primary'] .has-warning .custom-control-input:checked ~ .custom-control-indicator {
    color: #ffa000;
    background-color: #ffa000;
    box-shadow: none;
}
[data-background='primary'] .has-warning .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}
[data-background='primary'] .has-warning .custom-control-input:active ~ .custom-control-indicator {
    color: #ffa000;
    background-color: #ffa000;
    box-shadow: none;
}
[data-background='primary'] .has-warning .custom-control-indicator {
    background-color: #4a8aab;
}
[data-background='primary'] .custom-control-input:checked ~ .custom-control-indicator {
    color: #ffa000;
    background-color: #ffa000;
    box-shadow: none;
}
[data-background='primary'] .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none;
}
[data-background='primary'] .custom-control-input:active ~ .custom-control-indicator {
    color: #ffa000;
    background-color: #ffa000;
    box-shadow: none;
}
[data-background='primary'] .custom-file .custom-file-control {
    color: #fff;
    border-color: #8eb8ce;
    background-color: #639dbb;
}
[data-background='primary'] .custom-file .custom-file-control:before {
    color: #fff;
    border-color: #639dbb;
    background-color: #639dbb;
}
[data-background='primary'] .custom-file .custom-file-control:after {
    color: #fff;
    border-color: #8eb8ce;
    background-color: #639dbb;
}
[data-background='primary'] .custom-select {
    color: #fff;
    border-color: #8eb8ce;
    background: #7fafc7
        url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
        no-repeat right 0.75rem center;
    background-size: 8px 10px;
}
